.project-1-preview {
    background-image: url(../../images/project-1-1.png);
    width: 400px;
    height: 240px;
    transition-duration: 0.3s;
    border: 1px solid white;
}

.project-1-preview:hover {
    background-image: url(../../images/project-1-2.png);
    opacity: 0.7;
}

.project-2-preview {
    width: 400px;
    height: 240px;
    background-image: url(../../images/project-2-1.png);
    transition-duration: 0.3s;
    border: 1px solid white;
}

.project-2-preview:hover {
    background-image: url(../../images/project-2-2.png);
    opacity: 0.7;
}

.project-3-preview {
    width: 400px;
    height: 240px;
    background-image: url(../../images/project-3-1.png);
    transition-duration: 0.3s;
    border: 1px solid white;
}

.project-3-preview:hover {
    background-image: url(../../images/project-3-2.png);
    opacity: 0.7;
}

.project-container {
    width: 50%;
    border: 2px solid white;
    margin: 4% auto;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.project-container-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.project-description {
    margin: 3% 5%;
    line-height: 1.6em;
}

.project-skills-container {
    display: flex;
}

.project-skills-container p {
    border: 1px solid #2f2f2f;
    padding: 2px;
    margin: 5px;
    background: white;
    color: black;
    font-weight: bold;
    box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
}

@media all and (max-width: 801px) {
    .project-1-preview {
        width: 300px;
        height: 170px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .project-2-preview {
        width: 300px;
        height: 170px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .project-3-preview {
        width: 300px;
        height: 170px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media all and (max-width: 600px) {
    .project-container {
        width: 90%;
    }
}